<div class="flex flex-wrap gap-4">
  <div class="w-full md:w-1/2">
    <label for="password" class="block text-sm font-medium text-gray-700 mb-1">
      Contraseña *
    </label>

    <p-password
      id="password"
      [formControl]="password"
      [toggleMask]="true"
      [feedback]="true"
      inputStyleClass="w-full"
      [ngClass]="{
        'ng-invalid ng-dirty': password.invalid && password.touched
      }"
      placeholder="Contraseña"
      weakLabel="Débil"
      mediumLabel="Media"
      strongLabel="Fuerte"
      promptLabel="Mínimo 8 caracteres, mayúsculas, minúsculas y números"
    ></p-password>

    <small
      class="text-red-500 text-xs block mt-1"
      *ngIf="password.errors && password.touched"
    >
      <ng-container *ngIf="password.hasError('required')">
        La contraseña es obligatoria.
      </ng-container>

      <ng-container *ngIf="password.hasError('pattern')">
        Debe tener al menos 8 caracteres e incluir mayúsculas, minúsculas y
        números.
      </ng-container>
    </small>
  </div>

  <!-- Repetir contraseña -->
  <div class="w-full md:w-1/2">
    <label
      for="confirmPassword"
      class="block text-sm font-medium text-gray-700 mb-1"
    >
      Repetir contraseña *
    </label>

    <p-password
      id="confirmPassword"
      [formControl]="confirmPassword"
      placeholder="Confirma la contraseña"
      [toggleMask]="true"
      [feedback]="false"
      inputStyleClass="w-full"
      [ngClass]="{
        'ng-invalid ng-dirty':
          (confirmPassword.invalid && confirmPassword.touched) ||
          (password.parent?.hasError('passwordsMismatch') &&
            confirmPassword.touched)
      }"
    ></p-password>

    <small
      class="text-red-500 text-xs block mt-1"
      *ngIf="
        (confirmPassword.hasError('required') && confirmPassword.touched) ||
        (password.parent?.hasError('passwordsMismatch') &&
          confirmPassword.touched)
      "
    >
      <ng-container *ngIf="confirmPassword.hasError('required')">
        Repite la contraseña.
      </ng-container>

      <ng-container *ngIf="password.parent?.hasError('passwordsMismatch')">
        Las contraseñas no coinciden.
      </ng-container>
    </small>
  </div>
</div>
