<div class="bg-[#efeef1] py-8 px-4">
  <div class="mx-auto">
    <div class="flex items-center">
      <a
        routerLink="/animals-home"
        class="inline-flex items-center gap-2 text-sm text-gray-600 hover:text-green-600 mb-4 grow"
      >
        <i class="pi pi-angle-left"></i>
        Volver al listado
      </a>
      <app-share-button></app-share-button>
    </div>

    <article class="bg-white rounded-2xl shadow-md overflow-hidden">
      @if (isLoading) {
      <app-paw-spinner></app-paw-spinner>
      } @else if (animal) {
      <div>
        <app-slider [images]="animal.imageUrl"></app-slider>
      </div>

      <div class="flex flex-col justify-between p-6 space-y-4">
        <header class="space-y-2">
          <div class="flex items-center justify-between gap-3">
            <span class="text-4xl font-chewy text-gray-900">
              {{ animal.name }}
            </span>
            <span
              class="inline-flex items-center gap-1 rounded-full bg-gray-100 px-3 py-1 text-xs font-medium text-gray-700"
            >
              <i class="pi pi-map-marker"></i>
              {{ animal.location?.city }}
            </span>
          </div>

          <p class="text-sm text-gray-600">
            {{ animal.location?.province }}
          </p>

          <div class="flex flex-wrap gap-2 mt-2">
            <span
              class="inline-flex items-center rounded-full bg-gray-100 px-3 py-1 text-xs font-medium text-gray-700"
            >
              {{ animal.breed }}
            </span>

            <span
              class="inline-flex items-center rounded-full px-3 py-1 text-xs font-medium"
              [ngClass]="
                animal.sex === 'm'
                  ? 'bg-blue-50 text-blue-700'
                  : 'bg-pink-50 text-pink-700'
              "
            >
              <i
                class="pi pr-1"
                [ngClass]="animal.sex === 'm' ? 'pi-mars' : 'pi-venus'"
              ></i>
              {{ animal.sex === "m" ? "Macho" : "Hembra" }}
            </span>
            <span
              class="inline-flex items-center rounded-full bg-green-50 px-3 py-1 text-xs font-medium text-green-700"
            >
              {{
                animal.species === "dog"
                  ? "🐶"
                  : animal.species === "cat"
                  ? "🐱"
                  : "🐾"
              }}
              <span class="pl-1">{{ getSizeLabel(animal.size) }}</span>
            </span>
            <span
              class="inline-flex items-center rounded-full bg-gray-100 px-3 py-1 text-xs font-medium text-gray-700"
            >
              {{ animal.ageYears }} año{{
                animal.ageYears === 0 ||
                (animal.ageYears && animal.ageYears > 1)
                  ? "s"
                  : ""
              }}
            </span>
            <span
              class="inline-flex items-center gap-1 rounded-full px-3 py-1 font-medium text-xs"
              [ngClass]="
                animal.compatibleWithChildren === 'true'
                  ? 'bg-green-50 text-green-700'
                  : animal.compatibleWithChildren === 'untested'
                  ? 'bg-yellow-50 text-yellow-700'
                  : 'bg-red-50 text-red-700'
              "
            >
              🧒
              {{
                animal.compatibleWithChildren === "true"
                  ? "Compatible con niños"
                  : animal.compatibleWithChildren === "untested"
                  ? "Sin testear con niños"
                  : "No compatible con niños"
              }}
            </span>
          </div>
        </header>

        <section class="space-y-2">
          <span class="text-2xl font-chewy"> Compatibilidades </span>
          <div class="flex flex-wrap gap-2 text-xs">
            <span
              class="inline-flex items-center gap-1 rounded-full px-3 py-1 font-medium"
              [ngClass]="
                animal.compatibleWithDogs === 'true'
                  ? 'bg-green-50 text-green-700'
                  : animal.compatibleWithDogs === 'untested'
                  ? 'bg-yellow-50 text-yellow-700'
                  : 'bg-red-50 text-red-700'
              "
            >
              🐕
              {{
                animal.compatibleWithDogs === "true"
                  ? "Compatible con perros"
                  : animal.compatibleWithDogs === "untested"
                  ? "Sin testear con perros"
                  : "No compatible con perros"
              }}
            </span>

            <span
              class="inline-flex items-center gap-1 rounded-full px-3 py-1 font-medium"
              [ngClass]="
                animal.compatibleWithCats === 'true'
                  ? 'bg-green-50 text-green-700'
                  : animal.compatibleWithCats === 'untested'
                  ? 'bg-yellow-50 text-yellow-700'
                  : 'bg-red-50 text-red-700'
              "
            >
              🐈
              {{
                animal.compatibleWithCats === "true"
                  ? "Compatible con gatos"
                  : animal.compatibleWithCats === "untested"
                  ? "Sin testear con gatos"
                  : "No compatible con gatos"
              }}
            </span>
          </div>
        </section>

        <section class="space-y-3 text-sm">
          <div>
            <span class="text-2xl font-chewy mb-1">
              Sobre {{ animal.name }}
            </span>
            <p class="text-gray-700">{{ animal.description }}</p>
          </div>

          <div>
            <span class="text-2xl font-chewy mb-1"> Su historia </span>
            <p class="text-gray-700">{{ animal.history }}</p>
          </div>

          @if (animal.specialNeeds) {
          <div class="bg-amber-50 rounded-lg p-3">
            <span class="text-xl font-chewy mb-1">
              Necesidades especiales
            </span>
            <p class="text-xs text-amber-900">
              {{ animal.specialNeeds }}
            </p>
          </div>
          }
        </section>

        <section
          class="mt-2 border-t border-gray-100 pt-3 flex flex-col gap-3 text-sm"
        >
          <div>
            <span class="text-2xl font-chewy"> Contacto </span>
          </div>

          <div class="flex flex-col gap-1">
            <div class="flex gap-2 items-center pb-5">
              <div class="logo items-center flex-shrink-0 hidden sm:block">
                <img
                  [src]="
                    animal.location?.shelter?.imgUrl ||
                    '/assets/images/shelter-img.png'
                  "
                  alt="shelter image"
                  class="shelter-image w-16 rounded-lg"
                />
              </div>
              <div class="flex flex-col gap-1">
                <div class="flex gap-2 items-center">
                  @if (animal.location?.shelter?.website) {
                  <a
                    [href]="animal.location?.shelter?.website"
                    class="text-gray-700 text-lg font-medium"
                  >
                    {{ animal.location?.shelter?.legalName }}
                  </a>
                  } @else {
                  <span class="text-gray-700 text-lg font-medium">
                    {{ animal.location?.shelter?.legalName }}
                  </span>
                  } @if (animal.location?.shelter?.facebook) {
                  <a
                    [href]="animal.location?.shelter?.facebook"
                    target="_blank"
                    rel="noopener noreferrer"
                    title="Facebook"
                  >
                    <img
                      class="w-6 cursor-pointer"
                      src="/assets/icons/facebook.png"
                      alt="Facebook"
                    />
                  </a>
                  } @if (animal.location?.shelter?.instagram) {
                  <a
                    [href]="animal.location?.shelter?.instagram"
                    target="_blank"
                    rel="noopener noreferrer"
                    title="Instagram"
                  >
                    <img
                      class="w-6 cursor-pointer"
                      src="/assets/icons/instagram.png"
                      alt="Instagram"
                    />
                  </a>
                  }
                </div>
                <span>
                  {{ animal.location?.city + ", " + animal.location?.province }}
                </span>
              </div>
            </div>
            <div class="flex items-center">
              <i class="text-lg text-green-600 pi pi-envelope pr-2"></i>
              <a
                href="mailto:{{ animal.location?.shelter?.contactEmail }}"
                class="hover:text-green-600 cursor-pointer"
              >
                {{ animal.location?.shelter?.contactEmail }}
              </a>
            </div>
            <div
              *ngIf="animal.location?.shelter?.contactPhone"
              class="flex items-center"
            >
              <i class="text-lg text-green-600 pi pi-phone pr-2"></i>
              <span>{{
                animal.location?.shelter?.contactPhone | phoneFormat
              }}</span>
            </div>
            <div class="button">
              <button
                pButton
                class="mt-4"
                type="button"
                label="Contactar"
                (click)="toggleContactForm()"
              ></button>
            </div>
            @if (showContactForm) {
            <div
              class="mt-4 bg-white rounded-2xl shadow-md p-6 border border-gray-100 animate-fadeIn"
            >
              <app-animal-contact-form
                [animal]="animal"
                (showContactForm)="toggleContactForm()"
              ></app-animal-contact-form>
            </div>
            }
          </div>
        </section>
      </div>
      }
    </article>
  </div>
</div>
