<div class="card flex flex-col relative bg-white rounded-xl overflow-hidden">
  <div class="flex gap-5 h-36 p-5 items-center">
    <div class="logo items-center flex-shrink-0 hidden sm:block">
      <img
        [src]="shelter?.logo || '/assets/images/shelter-img.png'"
        alt="shelter image"
        class="shelter-image w-16 xl:w-24"
      />
    </div>
    <div class="flex-flex-col">
      <div class="flex gap-2 items-center">
        @if (shelter?.website) {
        <a [href]="shelter?.website" class="text-gray-700 text-base lg:text-lg">
          {{ shelter?.name }}
        </a>
        } @else {
        <span class="text-gray-700 text-base lg:text-lg">
          {{ shelter?.name }}
        </span>
        } @if (shelter?.facebook) {
        <a
          [href]="shelter?.facebook"
          target="_blank"
          rel="noopener noreferrer"
          title="Facebook"
        >
          <img
            class="w-5 cursor-pointer"
            src="/assets/icons/facebook.png"
            alt="Facebook"
          />
        </a>
        } @if (shelter?.instagram) {
        <a
          [href]="shelter?.instagram"
          target="_blank"
          rel="noopener noreferrer"
          title="Instagram"
        >
          <img
            class="w-5 cursor-pointer"
            src="/assets/icons/instagram.png"
            alt="Instagram"
          />
        </a>
        }
      </div>

      <span class="pb-5 text-sm lg:text-base">
        {{ shelter?.address?.city + ", " + shelter?.address?.province }}
      </span>
      <div class="flex items-center">
        <i class="text-lg text-green-600 pi pi-envelope pr-2"></i>
        <a
          href="mailto:{{ shelter?.email }}"
          class="hover:text-green-600 cursor-pointer text-sm lg:text-base"
        >
          {{ shelter?.email }}
        </a>
      </div>
      <div class="flex items-center">
        <i class="text-lg text-green-600 pi pi-phone pr-2"></i>
        <span class="text-sm lg:text-base">{{ shelter?.phone }}</span>
      </div>
    </div>
  </div>
</div>
