<div class="flex justify-center gap-6 text-center">
  <div
    class="w-44 h-44 rounded-full bg-white shadow hover:scale-105 transition flex flex-col items-center justify-center cursor-pointer"
  >
    <img src="/assets/icons/dog.png" alt="dog icon" class="w-16 h-16 mb-2" />
    <span>Perros</span>
  </div>
  <div
    class="w-44 h-44 rounded-full bg-white shadow hover:scale-105 transition flex flex-col items-center justify-center cursor-pointer"
  >
    <img src="/assets/icons/cat.png" alt="cat icon" class="w-16 h-16 mb-2" />
    <span>Gatos</span>
  </div>
  <div
    class="w-44 h-44 rounded-full bg-white shadow hover:scale-105 transition flex flex-col items-center justify-center cursor-pointer"
  >
    <img
      src="/assets/icons/others.png"
      alt="others icon"
      class="w-16 h-16 mb-2"
    />
    <span>Otros</span>
  </div>
</div>
