<div class="mt-4 grid grid-cols-1 gap-4 text-xs text-gray-700">
  <h1 class="font-chewy text-xl md:text-2xl font-semibold text-gray-900">
    ¿Cómo funciona el registro de protectoras y asociaciones?
  </h1>
  <div class="flex flex-col gap-1">
    <span class="font-medium text-gray-900">1. Rellenar los datos</span>
    <span>
      Completa el formulario con la información legal y de contacto de tu
      entidad.
    </span>
  </div>

  <div class="flex flex-col gap-1">
    <span class="font-medium text-gray-900">
      2. Validación de la información
    </span>
    <span>
      Nuestro equipo revisará la información en un plazo aproximado de 24/48
      horas.
    </span>

    <div
      class="mt-1 inline-flex items-center gap-1 text-emerald-700 hover:text-emerald-800"
    >
      <i class="pi pi-info-circle text-xs"></i>
      <span
        class="cursor-help"
        pTooltip="Validamos los datos para asegurarnos de que se trata de una protectora o asociación registrada y legal. Así garantizamos que los procesos de adopción se realizan con entidades autorizadas y evitamos usos fraudulentos de la plataforma."
        tooltipPosition="bottom"
        >¿Por qué es necesario validar la información?</span
      >
    </div>
  </div>

  <div class="flex flex-col gap-1">
    <span class="font-medium text-gray-900"> 3. Confirmación por correo </span>
    <span>
      Una vez validado el registro, recibirás un correo electrónico confirmando
      que la cuenta está activa y podrás publicar animales en adopción.
    </span>
  </div>
</div>
