@use "@angular/material" as mat;

@include mat.core();

:root {
  --mat-font-family: "Poppins", sans-serif;
}

$green-tailwind: (
  50: #f0fdf4,
  100: #dcfce7,
  200: #bbf7d0,
  300: #86efac,
  400: #4ade80,
  500: #22c55e,
  600: #16a34a,
  700: #15803d,
  800: #166534,
  900: #14532d,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$app-primary: mat.m2-define-palette($green-tailwind, 500, 300, 700);
$app-accent: mat.m2-define-palette($green-tailwind, 300, 200, 500);
$app-warn: mat.m2-define-palette(mat.$m2-red-palette);

$app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($app-theme);

.mat-mdc-standard-chip.mdc-evolution-chip--selected:not(
    .mdc-evolution-chip--disabled
  ) {
  background-color: map-get($green-tailwind, 200) !important;
}

.mat-mdc-raised-button.mat-primary {
  background-color: map-get($green-tailwind, 500) !important;
}
