<div
  class="card flex flex-col relative bg-white rounded-xl overflow-hidden"
  (click)="goToDetails(animal?.id)"
>
  <div class="bg-white/50 absolute rounded-t-xl w-full p-2 backdrop-blur-sm">
    <div class="title flex justify-between items-center">
      <span>{{ animal?.name }}</span>
      <div class="location flex items-center gap-1">
        <span>{{ animal?.location?.region }}</span>
        <i class="pi pi-map-marker"></i>
      </div>
    </div>
  </div>

  <div class="img-wrap" style="--img-ratio: 4/3">
    <img class="card-img" [src]="animal?.imageUrl?.[0]" [alt]="animal?.name" />
  </div>
  @if (animal?.status === 'reserved') {
  <div
    class="bg-red-600/50 absolute roundend-b-xl w-full p-2 backdrop-blur-sm bottom-0 text-center"
  >
    <span class="text-white font-semibold">
      {{ "Reservado" }}
    </span>
  </div>
  } @else if (animal?.status === 'fostered') {
  <div
    class="bg-yellow-600/50 absolute roundend-b-xl w-full p-2 backdrop-blur-sm bottom-0 text-center"
  >
    <span class="text-white font-semibold">
      {{ "En acogida" }}
    </span>
  </div>
  }
</div>
