<div
  class="card flex flex-col relative bg-white rounded-xl overflow-hidden"
  (click)="goToDetails(animal?.id)"
>
  <div class="bg-white/50 absolute rounded-t-xl w-full p-2 backdrop-blur-sm">
    <div class="title flex justify-between items-center">
      <div class="flex items-center gap-1">
        <span>{{ animal?.name }}</span>

        <mat-icon class="fix-icon">{{
          animal?.sex === "m" ? "male" : "female"
        }}</mat-icon>
      </div>
      <div class="location flex items-center gap-1">
        <span>{{ animal?.location?.city }}</span>
        <mat-icon>location_on</mat-icon>
      </div>
    </div>
  </div>
  <img [src]="animal?.imageUrl?.[0]" [alt]="animal?.name" />
</div>
