<div
  class="card flex flex-col relative bg-white rounded-xl overflow-hidden"
  (click)="goToDetails(animal?.id)"
>
  <div class="bg-white/50 absolute rounded-t-xl w-full p-2 backdrop-blur-sm">
    <div class="title flex justify-between items-center gap-2">
      <span class="truncate min-w-0 max-w-[50%] block font-medium">
        {{ animal?.name }}
      </span>
      <div
        class="location flex items-center gap-1 min-w-0 max-w-[50%] font-medium"
      >
        <span class="truncate block">{{ animal?.location?.province }}</span>
        <i class="pi pi-map-marker shrink-0"></i>
      </div>
    </div>
  </div>

  <div class="img-wrap" style="--img-ratio: 4/3">
    <img
      appImageFallback
      class="card-img"
      [src]="animal?.imageUrl?.[0]"
      [alt]="animal?.name"
    />
  </div>
  @if (animal?.status === 'reserved') {
  <div
    class="bg-red-600/50 absolute roundend-b-xl w-full p-2 backdrop-blur-sm bottom-0 text-center"
  >
    <span class="text-white font-semibold">
      {{ "Reservado" }}
    </span>
  </div>
  } @else if (animal?.status === 'fostered') {
  <div
    class="bg-yellow-600/50 absolute roundend-b-xl w-full p-2 backdrop-blur-sm bottom-0 text-center"
  >
    <span class="text-white font-semibold">
      {{ "En acogida" }}
    </span>
  </div>
  }
</div>
