::ng-deep .p-toolbar {
  width: 100% !important;
  border: none !important;
  background-color: rgba(255, 255, 255, 0.25) !important;
  backdrop-filter: blur(4px) !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.header-desktop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 0.6) !important;
}

@media (min-width: 768px) {
  .p-toolbar-mobile {
    display: none;
  }
  .p-toolbar-desktop {
    display: flex;
    width: 100%;
  }
}

.main-content {
  padding-top: 58px;
  padding-bottom: 24px;
  overflow-y: visible;
  flex: 1;
}

.active-link {
  border-bottom: 2px solid green;
}

.active-link-mobile {
  border-left: 3px solid #22c55e;
  padding-left: 0.5rem;
}
