<mat-sidenav-container class="sidenav-container">
  <!-- LATERAL MOBILE -->
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-nav-list>
      <mat-list-item *ngIf="!isHome" (click)="closeSidenav()">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Inicio</span>
      </mat-list-item>
      <mat-list-item (click)="closeSidenav()">
        <mat-icon matListItemIcon>pets</mat-icon>
        <span matListItemTitle>Animales</span>
      </mat-list-item>
      <mat-list-item (click)="closeSidenav()">
        <mat-icon matListItemIcon>shield</mat-icon>
        <span matListItemTitle>Protectoras</span>
      </mat-list-item>
      <mat-list-item (click)="closeSidenav()">
        <mat-icon matListItemIcon>event</mat-icon>
        <span matListItemTitle>Eventos</span>
      </mat-list-item>
      <mat-list-item (click)="closeSidenav()">
        <mat-icon matListItemIcon>mail</mat-icon>
        <span matListItemTitle>Contacto</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="closeSidenav()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Cerrar sesión</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- MAIN CONTAINER -->
  <mat-sidenav-content>
    <!-- Mobile Header (< 768px) -->
    <mat-toolbar color="primary" class="header">
      <button mat-icon-button (click)="toggleSidenav()" aria-label="Abrir menú">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <h1>Animals App</h1>
      <span class="spacer"></span>
      <button mat-icon-button aria-label="Configuración">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Header desktop (>= 768px) -->
    <mat-toolbar color="primary" class="header-desktop gap-4">
      <h1 class="logo">Animals App</h1>
      <span class="spacer"></span>
      <nav class="nav-menu">
        <a
          *ngIf="!isHome"
          [routerLink]="['/home']"
          class="text-lg cursor-pointer hover:text-green-600"
          >Home</a
        >
        <a
          [routerLink]="['/animals-home']"
          class="text-lg cursor-pointer hover:text-green-600"
          >Animales</a
        >
        <a class="text-lg cursor-pointer hover:text-green-600">Protectoras</a>
        <a class="text-lg cursor-pointer hover:text-green-600">Eventos</a>
        <a class="text-lg cursor-pointer hover:text-green-600">Contacto</a>
      </nav>
      <button mat-icon-button aria-label="Configuración">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Main Content -->
    <main class="text-gray-900 main-content">
      <router-outlet />
    </main>

    <footer class="footer">
      <app-footer></app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
