<p-toast></p-toast>
<p-sidebar
  [(visible)]="sidebarVisible"
  position="left"
  [baseZIndex]="10000"
  styleClass="app-sidebar"
>
  <div class="p-d-flex p-flex-column p-gap-3">
    <ul class="nav-list flex flex-col gap-3">
      @if (!isHome) {
      <li (click)="closeSidenav()" class="nav-item">
        <a
          class="nav-link flex gap-2"
          routerLink="/home"
          aria-label="Inicio"
          (click)="clear()"
        >
          <img src="assets/icons/home.svg" alt="shelter" class="w-5 h-5" />
          <span>Inicio</span>
        </a>
      </li>
      }

      <li (click)="closeSidenav()" class="nav-item">
        <a
          class="nav-link flex gap-2"
          routerLink="/animals-home"
          aria-label="Animales"
        >
          <img src="assets/icons/pawprint.svg" alt="pawprint" class="w-5 h-5" />
          <span>Animales</span>
        </a>
      </li>

      <li (click)="closeSidenav()" class="nav-item">
        <a
          class="nav-link flex gap-2"
          aria-label="Protectoras"
          routerLink="/shelters-home"
          (click)="clear()"
        >
          <img src="assets/icons/shelter.svg" alt="shelter" class="w-5 h-5" />
          <span>Protectoras</span>
        </a>
      </li>
    </ul>
  </div>
</p-sidebar>

<!-- MAIN -->
<div class="sidenav-container">
  <!-- Mobile Header (<768px) -->
  <p-toolbar class="header p-toolbar-mobile w-full md:hidden">
    <div class="p-toolbar-group-left">
      <button
        pButton
        icon="pi pi-bars"
        class="p-button-text"
        (click)="toggleSidenav()"
        aria-label="Abrir menú"
      ></button>
    </div>

    <div class="p-toolbar-group-center">
      <h1 routerLink="/home" class="m-0 cursor-pointer">Animals App</h1>
    </div>

    <div class="p-toolbar-group-right">
      <button
        pButton
        type="button"
        icon="pi pi-cog"
        class="p-button-text"
        aria-label="Configuración"
        (click)="menuMobile.toggle($event)"
      ></button>
      <p-menu
        #menuMobile
        [popup]="true"
        [model]="menuItems"
        appendTo="body"
        [baseZIndex]="11000"
      ></p-menu>
    </div>
  </p-toolbar>

  <!-- Header desktop (>=768px) -->
  <p-toolbar class="header-desktop p-toolbar-desktop w-full hidden md:flex">
    <div class="p-toolbar-group-left">
      <h1 routerLink="/home" class="logo cursor-pointer">Animals App</h1>
    </div>

    <div class="p-toolbar-group-right flex items-center gap-6">
      <div class="flex gap-4">
        @if (!isHome) {
        <a
          routerLink="/home"
          (click)="clear()"
          class="text-lg cursor-pointer hover:text-green-600"
          >Inicio</a
        >
        }

        <a
          routerLink="/animals-home"
          class="text-lg cursor-pointer hover:text-green-600"
          >Animales</a
        >
        <a
          class="text-lg cursor-pointer hover:text-green-600"
          routerLink="/shelters-home"
          (click)="clear()"
          >Protectoras</a
        >
      </div>
      <button
        pButton
        type="button"
        icon="pi pi-cog"
        class="p-button-text"
        aria-label="Configuración"
        (click)="menu.toggle($event)"
      ></button>
      <p-menu
        #menu
        [popup]="true"
        [model]="menuItems"
        appendTo="body"
        [baseZIndex]="11000"
      ></p-menu>
    </div>
  </p-toolbar>

  <!-- Main Content -->
  <main class="text-gray-900 main-content px-3 md:px-7 lg:px-14">
    <router-outlet></router-outlet>
  </main>

  <footer appRevealOnScroll class="footer">
    <app-footer></app-footer>
  </footer>
</div>
