.hero {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.banner-image {
  height: 40rem;
}
