<section>
  <article class="hero">
    <app-banner></app-banner>
  </article>
  <section class="body flex flex-col gap-10 mt-24 px-10 md:px-20 lg:px-40">
    <article appRevealOnScroll class="species">
      <app-species-buttons></app-species-buttons>
    </article>
    <article
      appRevealOnScroll
      class="about bg-white/70 shadow-md rounded-md overflow-hidden"
    >
      <div class="flex flex-wrap md:flex-nowrap gap-5">
        <div class="flex items-center justify-between gap-10 p-5">
          <div class="flex flex-col gap-3">
            <span class="font-chewy text-2xl">¿Quienes somos?</span>
            <span
              >En AnimalsApp conectamos a personas con refugios y protectoras de
              toda España para facilitar la adopción responsable. Nos aseguramos
              de que cada mascota tenga una segunda oportunidad en un hogar
              donde pueda ser feliz.</span
            >
          </div>
        </div>
        <img
          src="/assets/images/about.jpg"
          alt="about image"
          class="about-image w-full object-cover h-32 md:h-96"
        />
      </div>
    </article>
  </section>
</section>
