<form
  [formGroup]="contactForm"
  (ngSubmit)="submitContactForm(animal)"
  class="grid grid-cols-1 md:grid-cols-2 gap-6"
>
  <!-- NAME -->
  <div class="flex flex-col gap-2">
    <label for="name">Tu nombre *</label>
    <input
      id="name"
      pInputText
      formControlName="name"
      placeholder="Escribe tu nombre"
    />
    @if (contactForm.controls['name'].invalid &&
    contactForm.controls['name'].touched) {
    <small class="p-error"> Campo obligatorio </small>
    }
  </div>

  <!-- EMAIL -->
  <div class="flex flex-col gap-2">
    <label for="email">Correo electrónico</label>
    <input
      id="email"
      pInputText
      type="email"
      formControlName="email"
      placeholder="tucorreo@example.com"
    />
    @if (contactForm.controls['email'].valid &&
    contactForm.controls['email'].touched) {
    <small class="p-error"> Correo no válido </small>
    }
  </div>

  <!-- PHONE -->
  <div class="flex flex-col gap-2">
    <label for="phone">Teléfono</label>
    <input id="phone" pInputText formControlName="phone" />
  </div>

  <!-- LOCATION -->
  <div class="flex flex-col gap-2">
    <label for="location">Localidad</label>
    <input
      id="location"
      pInputText
      formControlName="location"
      placeholder="Ciudad o provincia"
    />
  </div>

  <!-- HOME SIZE -->
  <div class="flex flex-col gap-2">
    <label for="homeSize">Tamaño del alojamiento *</label>
    <p-dropdown
      id="homeSize"
      [options]="homeSizeOptions"
      formControlName="homeSize"
      placeholder="Selecciona tamaño"
    ></p-dropdown>
    @if( contactForm.controls['homeSize'].invalid &&
    contactForm.controls['homeSize'].touched) {
    <small class="p-error"> Obligatorio </small>
    }
  </div>

  <!-- HAD PETS BEFORE -->
  <div class="flex flex-col gap-2">
    <label for="hadPets">¿Has tenido mascotas antes? *</label>
    <p-dropdown
      id="hadPets"
      [options]="yesNoOptions"
      formControlName="hadPets"
      placeholder="Selecciona"
    ></p-dropdown>
  </div>

  <!-- FAMILIARITY WITH BREED -->
  <div class="flex flex-col gap-2">
    <label for="familiarWithBreed">¿Estás familiarizado con la raza? *</label>
    <p-dropdown
      id="familiarWithBreed"
      [options]="yesNoOptions"
      formControlName="familiarWithBreed"
      placeholder="Selecciona"
    ></p-dropdown>
  </div>

  <!-- SUBJECT -->
  <div class="flex flex-col gap-2 md:col-span-2">
    <label for="subject">Motivo del contacto *</label>
    <p-dropdown
      id="subject"
      [options]="subjectOptions"
      formControlName="subject"
    ></p-dropdown>
  </div>

  <!-- MESSAGE -->
  <div class="flex flex-col gap-2">
    <label for="message">Mensaje *</label>
    <textarea
      id="message"
      pTextarea
      rows="4"
      formControlName="message"
      placeholder="Cuéntanos un poco sobre ti..."
    ></textarea>
    @if (contactForm.controls['message'].invalid &&
    contactForm.controls['message'].touched) {
    <small class="p-error"> El mensaje es obligatorio </small>
    }
  </div>

  <!-- PRIVACY -->
  <div class="field md:col-span-2 flex items-center gap-3">
    <p-checkbox
      formControlName="privacy"
      binary="true"
      inputId="privacy"
    ></p-checkbox>
    <label for="privacy" class="m-0">Acepto la política de privacidad</label>
  </div>

  <div class="md:col-span-2">
    <button
      pButton
      type="submit"
      label="Enviar mensaje"
      [disabled]="contactForm.invalid"
    ></button>
  </div>
</form>
